@media (max-width:912px) {


    .manu ul li a {
        overflow: hidden;
        font-size: 20px;
        margin: 0% 15px;
    }

    .main-text {
        width: 75%;
        text-align: center;
        margin: 0 auto;

    }

    .main-text>h1,
    .chef>h1,
    .text2>h1,
    .best>h1,
    .pak>h1,
    .stats>h1,
    .update>h1 {
        font-size: 3rem;
    }

    .main-text>p,
    .chef>p,
    .text2>p,
    .best>p,
    .stats>p {
        font-size: 1.225rem;

    }

    .founder img {
        width: 180px;
    }

    .founder h2 {
        font-size: 20px;

    }
}

@media (max-width:555px) {
    #section2 {
        display: flex;
        flex-wrap: wrap;
    }

    .burger img {
        width: 350px;
    }
    
    #section3 {
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#section4 img {

    width: 400px;
    /* padding-left: 20px; */
}

.section4{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.founder{
    flex-direction: column;
    /* margin: 0 auto; */
    align-items: center;
    
}
.price, .coc{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;


}
}


@media (max-width:715px) {
    .manu ul {
        display: none;
    }

    .foot {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width:430px) {
    .founder {
        display: flex;
        flex-direction: column;
    }

    .update input{
        width: 80%;
        margin-top: 20px;
        font-size: 20px;
        color: #835e3f;
        font-weight: 400;
        font-family: "Nunito";
        text-align: center;
        border-radius: 20px 0px 0px 20px;
    }
}